{% extends "base.html" %}

{% load i18n %}

{% block content %}
<table>
    <thead>
        <tr>
            <th colspan="2">{% trans "Topics" %}</th>
            <td>{% trans "Last Poster" %}</td>
            <td>{% trans "Replies" %}</td>
            <td>{% trans "Views" %}</td>
        </tr>
    </thead>
    <tbody>
        {% for topic in forum.topics.all %}
        <tr>
            <td>icon</td>
            <td>link</td>
            <td>user</td>
            <td>0</td>
            <td>0</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">{% trans "No topics in this forum, create one :)" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href="{% url forums:topic_create forum.id %}">{% trans "Create topic" %}</a></p>
{% endblock %}
