{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Forums" %} - {{block.super}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
  <li><a href="{% url 'forums:overview' %}#{{topic.forum.category.id}}">{{topic.forum.category.name}}</a></li>
  <li><a href="{% url 'forums:forum' topic.forum.id %}">{{topic.forum.name}}</a></li>
  <li><a href="{% url 'forums:topic' topic.id %}">{{topic.name}}</a></li>
  <li class="active">{% trans "Create post" %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Forums" %}</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail pull-left" style="margin-right: 15px;">
      <img src="http://placehold.it/64x64" alt="avatar">
    </div>
    <div>
      <p>{{user.username}}</p>
    </div>
  </div>
  <div class="col-md-9">
    <form method="post" action="{% url 'forums:post_create' topic.id %}">
      {% csrf_token %}
      {% include "forms.html" %}
      <p><input type="submit" class="btn btn-primary" value="{% trans "Create post" %}"></p>
    </form>
  </div>
</div>
{% endblock %}

