{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Forums" %} - {{block.super}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
  <li><a href="{% url 'forums:overview' %}#{{topic.forum.category.id}}">{{topic.forum.category.name}}</a></li>
  <li><a href="{% url 'forums:forum' topic.forum.id %}">{{topic.forum.name}}</a></li>
  <li class="active">{{topic.name}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Forums" %}</h1>
</div>
{% for post in topic.posts.all %}
<div class="row">
  <div class="span3">
    <div class="thumbnail pull-left" style="margin-right: 15px;">
      <img src="http://placehold.it/64x64" alt="avatar">
    </div>
    <div>
      <p>{{post.user.username}}</p>
    </div>
  </div>
  <div class="span7">
    <div>
      {{post.body|linebreaks}}
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="span2">
    <p class="pull-right"><small><a href="#{{forloop.counter}}" name="{{forloop.counter}}">#{{forloop.counter}}</a></small></p>
    <p class="pull-right"><small>{{post.created}}</small></p>
  </div>
</div>
<hr>
{% endfor %}
<div class="row">
  <div class="span12">
    {% if not topic.forum.is_closed or user.is_staff %}
    <p><a href="{% url 'forums:post_create' topic.id %}" class="btn btn-primary">{% trans "Create post" %}</a></p>
    {% else %}
    <p>{% trans "This forum is closed, only admins can create and post here." %}
    {% endif %}
  </div>
</div>
{% endblock %}
